@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  @apply font-roboto text-h1-size font-extrabold;
}

.h2 {
  @apply font-roboto text-h2-size font-bold;
}

.h3 {
  @apply font-roboto text-h3-size font-semibold;
}

.h4 {
  @apply font-roboto text-h4-size font-medium;
}

.h5 {
  @apply font-roboto text-h5-size font-semibold;
}

.reg-text {
  @apply font-roboto text-text-size;
}

.typewriter > h1 {
  color: #1a3f67;
  font-family: "Roboto";
  font-size: "36px";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #1a3f67; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end) infinite,
    /* Loop the typing animation */ blink-caret 0.75s step-end infinite; /* Keep the cursor blinking */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 42%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1a3f67;
  }
}

.custom-image-class img {
  max-width: none !important;
}

body {
  min-height: 100vh;
  margin: 0;
}

#__next {
  height: 100vh;
}
